*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item-bar {
    list-style-type: none;
}
.item-bar:hover{
    background-color:rgb(204, 194, 194);
}
.item{
    width: 50%;
    margin-left: 25%;
} 
.search-box{
    margin-left: 29%;
}